# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  geoR,
  methods,
  sgeostat
)

S3method(print,corsign)

importFrom(graphics,plot.new)
importFrom(graphics,par)
importFrom(graphics,plot.window)
importFrom(graphics,text)
importFrom(graphics,lines)
importFrom(graphics,segments)
importFrom(graphics,image)
importFrom(graphics,rect)
importFrom(graphics,arrows)
importFrom(graphics,title)
importFrom(graphics,points)
importFrom(graphics,legend)
importFrom(graphics,boxplot)
importFrom(graphics,box)
importFrom(graphics,mtext)
importFrom(graphics,bxp)
importFrom(graphics,polygon)
importFrom(graphics,axis)
importFrom(graphics,abline)
importFrom(graphics,hist)
importFrom(graphics,axTicks)
importFrom(graphics,matplot)
importFrom(graphics,identify)
importFrom(stats,cor)
importFrom(stats,cov)
importFrom(stats,quantile)
importFrom(stats,qchisq)
importFrom(stats,pchisq)
importFrom(stats,qnorm)
importFrom(stats,pnorm)
importFrom(stats,mahalanobis)
importFrom(stats,hclust)
importFrom(stats,dist)
importFrom(stats,cutree)
importFrom(stats,na.exclude)
importFrom(stats,cor.test)
importFrom(stats,cov2cor)
importFrom(stats,density)
importFrom(stats,runif)
importFrom(stats,terms)
importFrom(stats,model.matrix)
importFrom(stats,cov.wt)
importFrom(stats,napredict)
importFrom(stats,ppoints)
importFrom(stats,sd)
importFrom(stats,coefficients)
importFrom(stats,pf)
importFrom(stats,var)
importFrom(stats,complete.cases)
importFrom(stats,lm)
importFrom(stats,predict)
importFrom(stats,na.omit)
importFrom(grDevices,gray)
importFrom(grDevices,grey)
importFrom(grDevices,rainbow)
importFrom(grDevices,terrain.colors)
importFrom(grDevices,topo.colors)
importFrom(grDevices,xy.coords)
importFrom(grDevices,boxplot.stats)
importFrom(grDevices,palette)
importFrom(MASS,cov.mve)


importFrom(cluster,pam)
importFrom(e1071,cmeans)
#importFrom(geoR,polygrid)
#importFrom(geoR,variofit)
#importFrom(geoR,variog)
#importFrom(geoR,lines.variogram)
#importFrom(geoR,lines.variomodel.variofit)
importFrom(MASS,rlm)
importFrom(MBA,mba.surf)
importFrom(mgcv,gam)
importFrom(mgcv,s)
importFrom(rgl,rgl.clear)
importFrom(rgl,rgl.viewpoint)
importFrom(rgl,rgl.bg)
importFrom(rgl,rgl.spheres)
importFrom(rgl,rgl.points)
importFrom(rgl,rgl.lines)
importFrom(rgl,rgl.texts)
importFrom(rgl,rgl.surface)
importFrom(robustbase,covMcd)
importFrom(xtable,xtable)
