# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  geoR,
  methods,
  sgeostat
)

importFrom(cluster,pam)
importFrom(e1071,cmeans)
#importFrom(geoR,polygrid)
#importFrom(geoR,variofit)
#importFrom(geoR,variog)
#importFrom(geoR,lines.variogram)
#importFrom(geoR,lines.variomodel.variofit)
importFrom(MASS,rlm)
importFrom(MBA,mba.surf)
importFrom(mgcv,gam)
importFrom(mgcv,s)
importFrom(rgl,rgl.clear)
importFrom(rgl,rgl.viewpoint)
importFrom(rgl,rgl.bg)
importFrom(rgl,rgl.spheres)
importFrom(rgl,rgl.points)
importFrom(rgl,rgl.lines)
importFrom(rgl,rgl.texts)
importFrom(rgl,rgl.surface)
importFrom(robustbase,covMcd)
importFrom(xtable,xtable)
